body {
    font-family: Arial, sans-serif;
    color: wheat;
    margin: 50px;
    padding: 0;
    background-image: url(../img/fundo-aquarela-pintado-a-mao_24972-1205.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
     background-attachment: fixed;

}


header {
background-color: bisque;
color: #fff;
padding: 20px;
text-align: center;
}

h1, h2 {
margin: 10px;
}

main {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

table {
border-collapse: collapse;
width: 100%;
margin-bottom: 20px;
}

th, td {
padding: 10px;
text-align: left;
border: 1px solid #ccc;
}

th {
background-color: bisque;
color: #fff;
}

img {
max-width: 100%;
height: auto;
}

p {
line-height: 1.5;
margin: 0 0 20px;
}

audio, iframe {
display: block;
margin-top: 20px;
}
.button {
background-color: bisque;
border: none;
color: #1b030c;
cursor: pointer;
display: inline-block;
font-size: 16px;
font-weight: 700;
padding: 16px 32px;
text-align: center;
text-decoration: none;
transition: all 0.2s ease-in-out;
border-radius: 50px;
box-shadow: 0px 2px 10px rgba(0,0,0,0.3); 
margin-top: 50px;
margin-left: -400px;
margin-right: 100px;

} 

.button:hover {
background-color: peru;
color: white;
}

.sextion {
background-color: bisque;
box-shadow: 0px 2px 10px rgba(255,255,255,0.2);
padding-top: 5px;
padding: 500px;
margin-top: 0px;
margin-left: 50px;
margin-right: 100px;
margin-bottom: 20px;
text-align: justify;
border-radius: 4%; 
}